//Шаблон файла от Фрилансер по жизни "Адапт верстка ХТМЛ із Фігма..."
//<Міксіни>======================
@import "mixins";


//<Шрифти кіріліца>==========================
//&display=swap
//&subset=cyrillic-ext
//@import url("");
@import "fonts";

//<Шрифти іконки>==========================
//@import "icons";

//<Шрифти по умолч>==========================
$fontFamily: "";

//<Переменние>==========================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer: +12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//<Переменние>==========================

//<Обнуление, Общие параметри>==========================

@import "null";
body {
          color: #000;
          font-size: 14px;
          
}

.red {
          color: red;
} 